@charset "UTF-8'";


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #5F2C82;
}

main {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    text-align: center;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    height: 515px;
    width: 260px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);

    transition: width 0.3s, heigth 0.3s;
    transition-timing-function: ease;
}

main h1 {
    margin: 10px;
    font-size: 1.5em;
}

main p {
    font-size: 0.9em;
    text-align: left;
    
}

article {
    display: block;
    padding: 10px;
    width: 100%;

}

.imagen {
    width: 260px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    background-image: url(../imagens/pexels-klajdi-cena-308722718-14812289.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: block;
}

.login {
    padding: 2px 2px 2px 5px;
    border-radius: 7px;
    margin-top: 5px;
    background-color: #5F2C82;
}


.info {
    padding: 10px;
    background-color: #94CFCD;
    border: 0px;
    border-radius: 7px;
}

.entrar {
    display: block;
    font-size: 1em;
    border: 0px;
    background-color: #62b4b2;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    padding: 10px 0px 10px 0px;
}

.entrar:hover {
    background-color: #53AAA7;
}

main a {
    display: block;
    text-decoration: none;
    color: #3e7473;
    margin-top: 5px;
    border: 1px solid #62b4b2 ;
    border-radius: 7px; 
    width: 100%;
    height: 40px; 
}
